body{
	padding: 0;
	color: #666;
	background-color: #EAEAEA;
}


/*==============================================================BOOTSTRAP*/
.bg-2 {
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
 .bg-3 {
      background-color: #ffffff; /* White */
      color: #555555;
  }
	.bg-4 {
		background-color: #EAEAEA;
	}
